* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
body {
  font-family: "Open Sans";
}
.navbar 
{
  padding-left: 0;
}

.logo img {/*
  width: 90px;*/
  height: 44.5px;
}
.nav-link {
  color: #474747 !important;
  padding-bottom: 5px;
}
.nav-link:hover{
    color: #0062cc !important;
}
.menu a {
  color: #213DCD;
}

.menu li {
  padding-left: 2.5rem;
  position: relative;
}

.fa-bars {
  color: #000000;
}

.btn-primary
{
  background-color: #00AEFF;
  border: 1px solid #00AEFF;
  font-size: 14px;
}
.btn-primary:hover
{
  background-color: rgba(0, 105, 217, .68);
  border: 1px solid rgba(0, 105, 217, .68);
}
.padding.hng
{
  padding-top: 3rem;
}
 h2
{
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #084482;
}
.padding.hng p
{
  color: #474747;
}
.col-lg-6.hng
{
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  max-width: 50% !important;
  flex: 0 0 50%;
  padding-right: 0 !important;
  z-index: -2;
}
.col-lg-6.hng img
{
  width: 100%;
}
.background 
{/*
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;*/
    width: 100%;
    padding-bottom: 20%;
}
.jumbotron
{
  border-radius: 0;
}
.jumbotron {
    padding: 3rem 2rem;
    background-color: rgba(196, 196, 196, 0.1);
}
.jumb {
    padding: 3rem 2rem;
}
.img-fluid.euro {
    width: 100%;
    height: auto;
}
div.col-md-12 p
{
  color: #333333;
}/*
.col-md-12 p{
  font-size: 1.1rem;
}*/
h4
{
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom: .7rem;
  color: #00AEFF;
}
div .col-xs-6.col-md-3 a p
{
  margin-bottom: .5rem;
  color: #00AEFF;
}
div .col-xs-6.col-md-3 a p:hover
{
  color: #0062cc !important;
}
div .col-xs-6.col-md-3 p b
{
  color: #737373;
}
div .col-xs-6.col-md-3 p
{
  margin-bottom: .2rem;
}
div .col-xs-6.col-md-3 p a
{
  color: #737373 !important;
}
div .col-xs-6.col-md-3 p a:hover
{
  color: #0062cc !important;
}

footer {
    background-color: #FAFAFA;
}
.padding.hng .col-xs-6.col-md-3 p {
    color: #737373;
}
.social a img:hover
{
  border: unset;
  border-radius: 50%;
  background: linear-gradient(to bottom,rgba(150,150,150,.1), rgba(0, 105, 217, .2)) !important;
}
h5 {
  color: #8898AA;
  font-size: 16px; 
}
div img
{
  width: 100%;
  height: 100%;
    cursor: pointer !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 100%;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 75px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer !important;
}
.content img
{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: baseline;
  align-items: flex-end;
}
.content2 img
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
}

/* Responsive styling */
@media screen and (max-width: 992px) {
  .h2, h2 {
    font-size: 1.5rem;
  }
  h2.text-left, .pt-1, .py-1, .mt-1, .my-1 {
    padding-top: .01vh!important;
    margin-top: .01vh!important;
  }
  .background 
  {
      width: 100%;
      padding-bottom: 14%;
  }
  .col-md-12 p {
    font-size: .96rem;
}
p {
  font-size: .9rem;
  margin-bottom: .8vh;
}
.btn-primary {
    font-size: .8rem;
    padding: 5px 12px;
}
.display-4 {
    font-size: 2.5rem;
}
@media screen and (max-width: 991px) {
      .menu li {
        padding-left: unset;
    }
      .nav-link {
        width: fit-content;
        padding-right: .3rem !important;
    }
    div.social.padding a img {
    max-width: 23%;
    height: auto;
    }
  }

}

@media screen and (max-width: 767px) {
  .background 
  {
      width: 100%;
      padding-bottom: 12%;
  }
  .logo img {
    max-width: 150px;
    height: auto;
  }
  .h2, h2 {
    font-size: 1.2rem;
  }
  .col-md-12 p {
    font-size: .9rem;
}
p {
  font-size: .9rem;
}
.btn-primary {
    font-size: .6rem;
    padding: 3px 10px;
}
.jumbotron .col-md-6 img
{
  padding-top: 1.5rem;
}
.col-xs-6
{
  max-width: 50% !important;
  flex: 0 0 50%;
}

h5 {
  font-size: 14px; 
}
h4
{
  font-size: 1.1rem;
}
.padding.hng {
    padding-top: 2rem;
}
div.col-12.pt-2 img {
    max-width: 170px;
    height: auto;
}
div.social.padding a img {
  max-width: 15%;
  height: auto;
}

.navbar 
{
  padding-left: 15px;
}
.background .row.padding.hng
{
  margin-left: 0;
}
.row.padding.pb-5.mb-5
{
  margin-left: 0;
}
@media screen and (max-width: 600px){
footer .row.padding.hng {
    padding: 0rem 2rem;
      }
    }


}

@media screen and (max-width: 576px) {
  .background 
  {
      width: 100%;
      padding-bottom: 9%;
  }
  .btn-primary
  {
    font-size: .8rem;
  }
p {
  font-size: .8rem;
}
.padding.hng {
    padding-top: 1rem;
}


}

@media screen and (max-width: 400px) {   
  h5 {
    font-size: 11px; 
  }


}